arviz==0.15.1; python_version >= "3.8"
attrs==22.2.0; python_version >= "3.7"
bump2version==1.0.1; python_version >= "3.5"
bumpversion==0.6.0
cachetools==5.3.1; python_version >= "3.8"
cloudpickle==2.2.1; python_version >= "3.8"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" and sys_platform == "win32" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0" and sys_platform == "win32"
cons==0.4.6; python_version >= "3.8"
contourpy==1.0.7; python_version >= "3.8"
cycler==0.11.0; python_version >= "3.8"
etuples==0.3.9; python_version >= "3.8"
exceptiongroup==1.1.0; python_version < "3.11" and python_version >= "3.7"
fastprogress==1.0.3; python_version >= "3.8"
filelock==3.12.2; python_version >= "3.8"
fonttools==4.39.3; python_version >= "3.8"
h5netcdf==1.1.0; python_version >= "3.8"
h5py==3.9.0; python_version >= "3.8"
importlib-resources==5.12.0; python_version < "3.10" and python_version >= "3.8"
iniconfig==2.0.0; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.8"
logical-unification==0.4.6; python_version >= "3.8"
matplotlib==3.7.1; python_version >= "3.8"
minikanren==1.0.3; python_version >= "3.8"
multipledispatch==1.0.0; python_version >= "3.8"
numpy==1.24.2; python_version >= "3.8"
packaging==23.0; python_version >= "3.8"
pandas==2.0.3; python_version >= "3.8"
patsy==0.5.3; python_version >= "3.8"
pillow==9.5.0; python_version >= "3.8"
pluggy==1.0.0; python_version >= "3.7"
pymc==5.6.0; python_version >= "3.8"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
pytensor==2.12.3; python_version >= "3.8"
pytest==7.2.2; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2023.3; python_version >= "3.8"
scipy==1.10.1; python_version >= "3.8" and python_version < "3.12"
seaborn==0.12.2; python_version >= "3.7"
setuptools-scm==7.1.0; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
statsmodels==0.14.0; python_version >= "3.8"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.8"
toolz==0.12.0; python_version >= "3.8"
tqdm==4.65.0; python_version >= "3.7"
typing-extensions==4.5.0; python_version >= "3.8"
tzdata==2023.3; python_version >= "3.8"
xarray-einstats==0.5.1; python_version >= "3.8"
xarray==2023.1.0; python_version >= "3.8"
zipp==3.15.0; python_version < "3.10" and python_version >= "3.8"
